body{
    background-color: black;
    color:white;
}
.ab{
    font-size:4rem;
    position: absolute;
    top:10px;
    left:500px;
}
.r{
    font-size:1.5rem;
    left:50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width:700px;
    height:150px;
    border:1px solid white;
    border-radius: 15px;
    padding:20px;

}
.btr{
    position:absolute;
    top:200px;
    left:920px;
    height:320px;
    width:300px;

}
.a{
    justify-content: center;
    padding:40px;
    font-size:1.5rem;
    color:white;
}
#bi{
    font-size:2rem;
    position: relative;
    left:300px;
}
.s{
    font-family: Pussycat, Algerian, Broadway;
    font-size:3rem;
    position: relative;
    left:400px;
}
.z{
    border:1px solid white;
    cursor: pointer;
    color:azure;
    background-color:transparent;
    width: 300px;
    height:200px;
    position:absolute;
    top:600px;
    left:10px;
    font-size:2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.x{border:1px solid white;
    cursor: pointer;
    color:azure;
    background-color:transparent;
    width: 300px;
    height:200px;
    position:absolute;
    top:600px;
    left:350px;
    font-size:2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.c{border:1px solid white;
    cursor: pointer;
    color:azure;
    background-color:transparent;
    width: 300px;
    height:200px;
    position:absolute;
    top:600px;
    left:690px;
    font-size:2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.v{border:1px solid white;
    cursor: pointer;
    color:azure;
    background-color:transparent;
    width: 300px;
    height:200px;
    position:absolute;
    top:600px;
    left:1030px;
    font-size:2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
.n{
    border:1px solid white;
    cursor: pointer;
    color:azure;
    background-color:transparent;
    width: 300px;
    height:200px;
    position:absolute;
    top:850px;
    left:10px;
    font-size:2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.m{
    border:1px solid white;
    cursor: pointer;
    color:azure;
    background-color:transparent;
    width: 300px;
    height:200px;
    position:absolute;
    top:850px;
    left:350px;
    font-size:2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.h{
    border:1px solid white;
    cursor: pointer;
    color:azure;
    background-color:transparent;
    width: 300px;
    height:200px;
    position:absolute;
    top:850px;
    left:690px;
    font-size:2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.j{
    border:1px solid white;
    cursor: pointer;
    color:azure;
    background-color:transparent;
    width: 300px;
    height:200px;
    position:absolute;
    top:850px;
    left:1030px;
    font-size:2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.k{
    border:1px solid white;
    cursor: pointer;
    color:azure;
    background-color:transparent;
    width: 300px;
    height:200px;
    position:absolute;
    top:1100px;
    left:10px;
    font-size:2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.l{
    border:1px solid white;
    cursor: pointer;
    color:azure;
    background-color:transparent;
    width: 300px;
    height:200px;
    position:absolute;
    top:1100px;
    left:350px;
    font-size:2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.u{
    border:1px solid white;
    cursor: pointer;
    color:azure;
    background-color:transparent;
    width: 300px;
    height:200px;
    position:absolute;
    top:1100px;
    left:690px;
    font-size:2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.i{
    border:1px solid white;
    cursor: pointer;
    color:azure;
    background-color:transparent;
    width: 300px;
    height:200px;
    position:absolute;
    top:1100px;
    left:1030px;
    font-size:2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.ss{
    font-size: 1.3rem;
    position:relative;
    top:700px;
    left:450px;
}

